<h1><%= @user.user_name %></h1>

<p>Hello, <%= @user.user_name %></p>

<!-- <form action="/user/new_session" method="POST">
  
</form>

<form action="/session" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="submit" value="Logout!">
</form> -->
